body {
  overflow-x: hidden;
}

@media (min-width: 1133px) {
  ::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
    border-radius: 5px;
    opacity: 0;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ffffff93;
    border-radius: 5px;
  }
}